body {
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* ===== STRONA GŁÓWNA ===== */

.hero {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-size: 70px;
    color: orange;
    text-shadow: 0 0 20px orange;
}

.hero-left p {
    font-size: 24px;
    color: #dddddd;
    margin-bottom: 40px;
}

.hero-right img {
    width: 250px;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

.hero-right img:hover {
    transform: scale(1.05);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }


.enter-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 18px 40px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.enter-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px orange;
}

/* ===== STRONA LOGOWANIA ===== */

.login-box {
    background-color: #1f1f1f;
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px orange;
}

input {
    width: 220px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: darkorange;
}
